.Serchbar {
  width: 568px;
  height: 48px;
  background: var(--color-white);
  border-radius: 8px;
  border: 1px solid #121212;
}

.serchinput {
  width: 500px;
  height: 46px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2px;
}

.serchButton {
  width: 56px;
  height: 46px;
  border-radius: 8px;
  border: 1px solid #121212;
}
