.Serchwrap {
  display: flex;
}

.serchinput {
  width: 502px;
  height: 48px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 8px 0px 0px 8px;
  padding: 0px 0px 0px 20px;
}

.serchButton {
  width: 66px;
  height: 48px;
  background-color: var(--color-white);
  cursor: pointer;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid var(--color-black);
}

.serchButton > img {
  width: 25px;
  margin-left: 14px;
}
