.FaqSectionWrapper {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
}

.Accordion {
  margin-bottom: 10px;
  border-radius: 10px;
}
