.songControllerWrapper {
  height: 130px;
  border-top: 2px solid #202020;
  /* padding-top: 25px; */
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -2px 6px rgba(50, 50, 50, 0.75);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.SongDetails {
  bottom: 24px;
  width: 177px;
  display: flex;
  align-items: center;
}

.SongName {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  margin-left: 6px;
}

.SongAlbum {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-white);
  margin-left: 6px;
}
