.navbar {
  background-color: var(--color-Primary);
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedBackButton {
  height: 47px;
  width: 170px;
  background-color: black;
  color: var(--color-Primary);
  border-radius: 12px;
  border: 1px solid var(--color-Primary);
  font-family: "Poppins";
  letter-spacing: 0.25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
