.GridWrapper {
  margin: 0px 68px 0px 68px;
}

.CardGridWrapper {
  height: 488px;
  display: flex;
  column-gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.gridHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.gridHead p {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.gridHead button {
  width: 90px;
  height: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-Primary);
  background: inherit;
  border: none;
  cursor: pointer;
}
